/**
 * _scald.scss
 * This covers styles for Scald atoms that are
 * applicable for "desktop" displays only.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
.scald-menu{
 	.filters{
 		input[type="submit"]{
 			font-size: $primary-font-size * .8;
 			width: auto;
 		}
 	}
}
