//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//
// This base partial is organized in this way:
// - First we set any shared Sass variables.
// - Next we import Compass plug-ins (Sass mixin libraries).
// - Last we import a _custom.scss partial that includes our custom mixins.
//


//see http://compass-style.org/help/documentation/tuning-vendor-prefixes/
//$graceful-usage-threshold: 0.1
//$critical-usage-threshold: 0.01
//TODO: set minimum versions for browsers other than IE?
$browser-minimum-versions: (ie: '10');

//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 1.5  * $base-font-size;
$h2-font-size: 1.25  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 1 * $base-font-size;
$h6-font-size: 1 * $base-font-size;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.


// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/


// Now create some variables for the font stacks we want to use on this site.
$base-font-family: "Trebuchet MS", "Ariel", sans-serif; // The font family set on the html element.
$font-monospace:   "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
$header-font: "Trebuchet MS", sans-serif;

$primary-color: #2A3A89;
$primary-color-hsla: hsla(230,53,35%,1);
$secondary-color: #DBD5B7;
$tertiary-color: #eeeeee;
$footer-color: #101319;
$primary-font-color: #2A3A89;
$gradient-start: white;
$gradient-end: $tertiary-color;
$views-slideshow-gradient-start: $primary-color;
$views-slideshow-gradient-end: #29528A;
$dev-color: pink;
$shadow-color: lighten($footer-color, 50%);
$region-border-color: #BBB;
$editorial-section-color: $primary-color;


//Superfish variables
$superfish-link-color: white;
$superfish-background-color: #2a3a89;
$superfish-link-hover-color: white;
$superfish-link-background-hover-color: lighten($superfish-background-color, 10%);
$superfish-link-active-color: black;
$superfish-link-active-background-color: $secondary-color;
//
// Colors, etc.
//

// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;


// Set breakpoints we support
$breakpoint-narrow: 400px; //transition to 'narrow' at 400px;
$breakpoint-normal: 768px; //transition to 'normal' at 768px;
$breakpoint-wide: 1024px; //transition to 'wide' at 1024px;
$breakpoint-narrow-normal: (($breakpoint-narrow+$breakpoint-normal)/2);
$breakpoint-normal-wide: (($breakpoint-normal+$breakpoint-wide)/2);

// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.
