/**
 * _mixins.scss
 * This file contains generic mixins for use by any subtheme.  It
 * requires a base file to define variables
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
@mixin material_button {
    box-sizing: border-box;
    text-align: center;
    a, span {
        text-decoration: none;
        display: inline-block;
        position: relative;
        border-radius: 2px;
        background-color: #fff;
        padding: 1em;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0.2s;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        &:hover {
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
            transition-delay: 0s;
        }
    }
    span.ext {
        display: none;
    }
}
@mixin picture_frame($a) {
    @if $a == "frame" {
        box-shadow: 0 3px 6px rgba(66, 66, 66, 0.25);
        outline: 1px solid #aaa;
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(250, 250, 250, 0.1)));
    }
    @if $a == "frame-noreflect" {
        box-shadow: 0 3px 6px rgba(66, 66, 66, 0.25);
        outline: 1px solid #aaa;
    }
}
@mixin national_gradient {
    $gradient-start: $primary-color;
    $gradient-end: darken($primary-color, 10%);
    background: -moz-linear-gradient($gradient-start, $gradient-end);
    /* FF 3.6+ */
    background: -ms-linear-gradient($gradient-start, $gradient-end);
    /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $gradient-start), color-stop(100%, $gradient-end));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient($gradient-start, $gradient-end);
    /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient($gradient-start, $gradient-end);
    /* Opera 11.10 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-start', endColorstr='$gradient-end')";
    /* IE8+ */
    background: linear-gradient($gradient-start, $gradient-end);
}

@mixin superfish_gradient {
    $gradient-start: $superfish-background-color;
    $gradient-end: darken($gradient-start, 10%);
    background-color: $superfish-background-color;
    background: -moz-linear-gradient($gradient-start, $gradient-end);
    /* FF 3.6+ */
    background: -ms-linear-gradient($gradient-start, $gradient-end);
    /* IE10 */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $gradient-start), color-stop(100%, $gradient-end));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient($gradient-start, $gradient-end);
    /* Safari 5.1+, Chrome 10+ */
    background: -o-linear-gradient($gradient-start, $gradient-end);
    /* Opera 11.10 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient-start', endColorstr='$gradient-end')";
    /* IE8+ */
    background: linear-gradient($gradient-start, $gradient-end);
}

@mixin shadow {
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@mixin ie-box-sizing {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}