body {
    #zone-content {
        .region-content {
            /** back to top button */
            a.back-to-top, .toc-back-to-top a {
                float: right;
                text-decoration: none;
                color: #000000;
                background-color: rgba(235, 235, 235, 0.8);
                background-image: none;
                border-radius: 3px;
                padding: 0.75em;
                &:hover {
                    background-color: rgba(135, 135, 135, 0.5);
                }
            }
            .national-content-block-1 {
                background-color: #2A3A89;
                color: white;
                a, a:hover, a:visited{
                    color: white;
                }
                padding: 0 2rem;
                border-radius: 2px;
                display: inline-block;
                margin: 1rem;
                min-height: 8rem;
                -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            }
        }
    }
}