/**
 * _footer.scss
 * This covers styles for the footer and subfooter that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */

@import "../mixins";

body {
    #section-footer {
        margin-top: 1em;
    }
    #zone-footer, #zone-subfooter {
        color: white;
        background-color: $primary-color;
        a, p, ul, ol, li, img, span, strong, em, div {
            font-size: $base-font-size * 0.8;
            line-height: $base-font-size;
        }
        .region {
            background-color: $primary-color;
            .region-inner {
                padding: 5px;
            }
            &.grid-6 {
                margin-left: 0;
                margin-right:0;
                padding: 10px 0;
                border: 10px solid $primary-color;
            }
        }
        .region-footer-first {
            border-radius: 5px 0 0 0;
            &.grid-6 {
                border-width: 10px 10px 10px 0;
                margin-left: 10px;
            }
        }
        .region-footer-fourth {
            border-radius: 0 5px 0 0;
            text-align: right;
            &.grid-6 {
                border-width: 10px 0 10px 10px;
                margin-right: 10px;
            }
        }
        .region-subfooter-first {
            margin: 0 10px;
        }
        a {
            color: white;
        }
        h1, h2, h3, h4, h5 {
            font-size: $h6-font-size;
        }
        ul li.leaf {
            list-style-type: none;
            list-style-image: none;
            padding-bottom: 0.5em;
        }
        .block-nodeblock, .block-menu-block {
            .block-title {
                display: none;
            }
        }
    }
    #zone-footer {
        border-width: 2px 2px 0 2px;
        border-radius: 5px 5px 0 0;
        .region {
            //min-height: 20em;
        }
    }
    #zone-subfooter {
        border-width: 0 2px 0 2px;
        text-align: center;

    }
    #nih_nlm_footer{
        width: 100%;
        display: table;
        p, img, svg{
            display: table-cell;
            vertical-align: middle;
        }
        p{
            padding: 0 1em;
        }
        img, svg{
            float:right;
        }
    }
}

body.responsive-layout-mobile {
    #zone-footer, #zone-subfooter {
        .region {
            min-height: 0;
            border-width: 0;
            border-bottom: 1px dotted #666;
            &.region-footer-first {
                margin-left: 0;
                border-radius: 0;
            }
            &.region-footer-fourth {
                margin-right: 0;
            }
            &.region-subfooter-first {
                margin-left: 0;
            }
        }
        .node{
            ol, ul{
                padding: 0; //omega override
            }
        }
    }
}