.block-gcal-events {
    ul.gcal_events {
        padding: .5em;
        li {
            .first {
                padding: inherit;
            }
            padding: .5em;
            background-color: white;
            box-shadow: 1px 1px 5px #888888;
            .event-title, .event-description, .event-date, .event-start-time, .event-end-time, .event-location {
                display: block;
            }
            .event-title {
                font-weight: bold;
            }
            .event-description {}
            .event-date {}
        }
        p {
            margin-bottom: 0;
        }
    }
}