//Description-ISO in CSS-content-.no-break-space { content:"\00a0"; }
.glyph {
    &.inverted-exclamation-mark {
        &:after {
            content: "\00a1";
        }
    }
    &.cent-sign {
        &:after {
            content: "\00a2";
        }
    }
    &.pound-sterling-sign {
        &:after {
            content: "\00a3";
        }
    }
    &.general-currency-sign {
        &:after {
            content: "\00a4";
        }
    }
    &.yen-sign {
        &:after {
            content: "\00a5";
        }
    }
    &.broken-bar {
        &:after {
            content: "\00a6";
        }
    }
    &.section-sign {
        &:after {
            content: "\00a7";
        }
    }
    &.umlaut- {
        &:after {
            content: "\00a8";
        }
    }
    &.copyright-sign {
        &:after {
            content: "\00a9";
        }
    }
    &.ordinal-indicator-feminine {
        &:after {
            content: "\00aa";
        }
    }
    &.angle-quotation-mark-left {
        &:after {
            content: "\00ab";
        }
    }
    &.not-sign {
        &:after {
            content: "\00ac";
        }
    }
    &.soft-hyphen {
        &:after {
            content: "\00ad";
        }
    }
    &.registered-sign, &.reg {
        &:after {
            content: "\00ae";
        }
    }
    &.macron- {
        &:after {
            content: "\00af";
        }
    }
    &.degree-sign {
        &:after {
            content: "\00b0";
        }
    }
    &.plus-or-minus-sign {
        &:after {
            content: "\00b1";
        }
    }
    &.superscript-two {
        &:after {
            content: "\00b2";
        }
    }
    &.superscript-three {
        &:after {
            content: "\00b3";
        }
    }
    &.acute-accent {
        &:after {
            content: "\00b4";
        }
    }
    &.micro-sign {
        &:after {
            content: "\00b5";
        }
    }
    &.pilcrow- {
        &:after {
            content: "\00b6";
        }
    }
    &.middle-dot {
        &:after {
            content: "\00b7";
        }
    }
    &.cedilla- {
        &:after {
            content: "\00b8";
        }
    }
    &.superscript-one {
        &:after {
            content: "\00b9";
        }
    }
    &.ordinal-indicator-masculine {
        &:after {
            content: "\00ba";
        }
    }
    &.angle-quotation-mark-right {
        &:after {
            content: "\00bb";
        }
    }
    &.fraction-one-quarter {
        &:after {
            content: "\00bc";
        }
    }
    &.fraction-one-half {
        &:after {
            content: "\00bd";
        }
    }
    &.fraction-three-quarters {
        &:after {
            content: "\00be";
        }
    }
    &.inverted-question-mark {
        &:after {
            content: "\00bf";
        }
    }
    &.capital-A-grave-accent {
        &:after {
            content: "\00c0";
        }
    }
    &.capital-A-acute-accent {
        &:after {
            content: "\00c1";
        }
    }
    &.capital-A-circumflex-accent {
        &:after {
            content: "\00c2";
        }
    }
    &.capital-A-tilde {
        &:after {
            content: "\00c3";
        }
    }
    &.capital-A-dieresis-or-umlaut-mark {
        &:after {
            content: "\00c4";
        }
    }
    &.capital-A-ring {
        &:after {
            content: "\00c5";
        }
    }
    &.capital-AE-diphthong {
        &:after {
            content: "\00c6";
        }
    }
    &.capital-C-cedilla {
        &:after {
            content: "\00c7";
        }
    }
    &.capital-E-grave-accent {
        &:after {
            content: "\00c8";
        }
    }
    &.capital-E-acute-accent {
        &:after {
            content: "\00c9";
        }
    }
    &.capital-E-circumflex-accent {
        &:after {
            content: "\00ca";
        }
    }
    &.capital-E-dieresis-or-umlaut-mark {
        &:after {
            content: "\00cb";
        }
    }
    &.capital-I-grave-accent {
        &:after {
            content: "\00cc";
        }
    }
    &.capital-I-acute-accent {
        &:after {
            content: "\00cd";
        }
    }
    &.capital-I-circumflex-accent {
        &:after {
            content: "\00ce";
        }
    }
    &.capital-I-dieresis-or-umlaut-mark {
        &:after {
            content: "\00cf";
        }
    }
    &.capital-Eth-Icelandic {
        &:after {
            content: "\00d0";
        }
    }
    &.capital-N-tilde {
        &:after {
            content: "\00d1";
        }
    }
    &.capital-O-grave-accent {
        &:after {
            content: "\00d2";
        }
    }
    &.capital-O-acute-accent {
        &:after {
            content: "\00d3";
        }
    }
    &.capital-O-circumflex-accent {
        &:after {
            content: "\00d4";
        }
    }
    &.capital-O-tilde {
        &:after {
            content: "\00d5";
        }
    }
    &.capital-O-dieresis-or-umlaut-mark {
        &:after {
            content: "\00d6";
        }
    }
    &.multiply-sign {
        &:after {
            content: "\00d7";
        }
    }
    &.capital-O-slash {
        &:after {
            content: "\00d8";
        }
    }
    &.capital-U-grave-accent {
        &:after {
            content: "\00d9";
        }
    }
    &.capital-U-acute-accent {
        &:after {
            content: "\00da";
        }
    }
    &.capital-U-circumflex-accent {
        &:after {
            content: "\00db";
        }
    }
    &.capital-U-dieresis-or-umlaut-mark {
        &:after {
            content: "\00dc";
        }
    }
    &.capital-Y-acute-accent {
        &:after {
            content: "\00dd";
        }
    }
    &.capital-THORN-Icelandic {
        &:after {
            content: "\00de";
        }
    }
    &.small-sharp-s-German {
        &:after {
            content: "\00df";
        }
    }
    &.small-a-grave-accent {
        &:after {
            content: "\00e0";
        }
    }
    &.small-a-acute-accent {
        &:after {
            content: "\00e1";
        }
    }
    &.small-a-circumflex-accent {
        &:after {
            content: "\00e2";
        }
    }
    &.small-a-tilde {
        &:after {
            content: "\00e3";
        }
    }
    &.small-a-dieresis-or-umlaut-mark {
        &:after {
            content: "\00e4";
        }
    }
    &.small-a-ring {
        &:after {
            content: "\00e5";
        }
    }
    &.small-ae-diphthong {
        &:after {
            content: "\00e6";
        }
    }
    &.small-c-cedilla {
        &:after {
            content: "\00e7";
        }
    }
    &.small-e-grave-accent {
        &:after {
            content: "\00e8";
        }
    }
    &.small-e-acute-accent {
        &:after {
            content: "\00e9";
        }
    }
    &.small-e-circumflex-accent {
        &:after {
            content: "\00ea";
        }
    }
    &.small-e-dieresis-or-umlaut-mark {
        &:after {
            content: "\00eb";
        }
    }
    &.small-i-grave-accent {
        &:after {
            content: "\00ec";
        }
    }
    &.small-i-acute-accent {
        &:after {
            content: "\00ed";
        }
    }
    &.small-i-circumflex-accent {
        &:after {
            content: "\00ee";
        }
    }
    &.small-i-dieresis-or-umlaut-mark {
        &:after {
            content: "\00ef";
        }
    }
    &.small-eth-Icelandic {
        &:after {
            content: "\00f0";
        }
    }
    &.small-n-tilde {
        &:after {
            content: "\00f1";
        }
    }
    &.small-o-grave-accent {
        &:after {
            content: "\00f2";
        }
    }
    &.small-o-acute-accent {
        &:after {
            content: "\00f3";
        }
    }
    &.small-o-circumflex-accent {
        &:after {
            content: "\00f4";
        }
    }
    &.small-o-tilde {
        &:after {
            content: "\00f5";
        }
    }
    &.small-o-dieresis-or-umlaut-mark {
        &:after {
            content: "\00f6";
        }
    }
    &.divide-sign {
        &:after {
            content: "\00f7";
        }
    }
    &.small-o-slash {
        &:after {
            content: "\00f8";
        }
    }
    &.small-u-grave-accent {
        &:after {
            content: "\00f9";
        }
    }
    &.small-u-acute-accent {
        &:after {
            content: "\00fa";
        }
    }
    &.small-u-circumflex-accent {
        &:after {
            content: "\00fb";
        }
    }
    &.small-u-dieresis-or-umlaut-mark {
        &:after {
            content: "\00fc";
        }
    }
    &.small-y-acute-accent {
        &:after {
            content: "\00fd";
        }
    }
    &.small-thorn-Icelandic {
        &:after {
            content: "\00fe";
        }
    }
    &.small-y-dieresis-or-umlaut-mark {
        &:after {
            content: "\00ff";
        }
    }
}