/**
 * _menu.scss
 * This covers styles for the navigational menu region that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
body {
    #zone-menu {
        /*.gsc-control-searchbox-only, .gsc-control-searchbox-only-en,
        .block-google-cse {
            position: relative;
            margin-bottom: -1px;
            z-index: 2;
            form {
                background-color: $primary-color;
                float: right;
                width: 350px;
                margin: 0;
                padding: 3px 4px;
                border: 1px solid $region-border-color;
                border-width: 0;
                border-radius: 5px 5px 0 0;
            }
            noscript {
                background-color: $primary-color;
                float: right;
                width: 50%;
                padding: 3px 4px;
                color: white;
                a {
                    color: white;
                }
            }
            .block-title {
                display: none;
            }
            #google-cse-results-gadget {
                display: none;
            }
            label {
                font-size: 0;
            }
        }
        #search-block-form {
            text-align: right;
            background-color: $primary-color;
            border-radius: 5px 5px 0 0;
            float:right;
            .form-item-search-block-form {
                padding: 8px;
            }
            .form-actions {
                padding: 8px;
            }
        }*/
    }
}

body.responsive-layout-mobile {
    /*#zone-menu {
        .gsc-control-searchbox-only, .gsc-control-searchbox-only-en,
        .block-google-cse {
            form {
                border-width: 1px;
                border-radius: 5px;
                width: 100%;
                text-align: center;
            }
        }
    }*/
}

//NOTE: superfish styles reside in superfish.css