$ntrp-primary-background-color: $primary-color;
$ntrp-even-background-color: tint($ntrp-primary-background-color, 80%);
$ntrp-odd-background-color: tint($ntrp-primary-background-color, 95%);
$ntrp-border-color: aqua;

.ntrp-schedule {
    th {
        border: 1px solid white;
        background-color: $ntrp-primary-background-color;
        /*region's main color*/
        color: white;
        vertical-align: middle;
        text-align: center;
        padding: 5px;
        a {
            color: white;
            text-decoration: none;
        }
        &.active {
            background-color: shade($ntrp-even-background-color, 5%);
            /*this is 20% alpha of the region color*/
            border: 1px solid $ntrp-border-color;
            color: black;
            a {
                color: black;
            }
        }
    }
    tr {
        &.even, &.odd {
            vertical-align: middle;
        }
        &.even {
            td {
                background-color: $ntrp-even-background-color;
            }
        }
        &.odd {
            td {
                background-color: $ntrp-odd-background-color;
            }
        }
    }
    td {
        border-left: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        padding: 3px;
        vertical-align: middle;
        &.views-table{
            vertical-align: middle;
        }
        &.col-w-25 {
            width: 25%;
        }
        &.col-w-30 {
            width: 30%;
        }
        &.col-w-15 {
            width: 15%;
        }
    }
}