/**
 * _sidebars.scss
 * This covers styles for the left and right sidebar that are
 * applicable across every display resolution.
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */
@mixin sidebar {
    background-color: $secondary-color;
    display: table-cell;
    margin-bottom: 1em;
    .region-inner {
        border: 1px solid $region-border-color;
        //border-radius: 4px;

    }
    ul {
        li {
            list-style: none;
            margin-left: 0;
            //text-indent:-1em;
            &:before {
                content: "\00a0\bb\00a0";
            }
        }
        > li{
            //padding-left: .75em;
            //text-indent: -1.25em;
        }
    }
}

/* Navigational elements */
body {
    #block-system-main {
        .sidebar {
            @include sidebar;
        }
    }
    .region-sidebar-first, .region-sidebar-second {
        @include sidebar;
        a, p, ul, ol, li, img, span, strong, em, div, section {
            font-size: $base-font-size * 0.8;
            line-height: $base-font-size;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .block-title {
            display: block;
            background-color: $primary-color;
            color: white;
            border-radius: 2px 2px 0 0;
            font-size: $h4-font-size;
            padding: 4px;
            letter-spacing: .5px;
        }
        .block-nodeblock, .block-aggregator, .block-nnlm-emergency-status-block{
            background-color: white;
            margin: .5em .2em;
            border-radius: 0 0 3px 3px;
        }
        .block-nnlm-emergency-status-block {
            .block-title{
                background-color: red;
            }
            .content{
                padding: 2px;
            }
        }
        .block-menu-block {
            background-color: transparent;
            margin: 1px;
            ul {
                list-style-position: inside;
                li {
                    padding-top: .5em;
                    &.active {
                        font-weight: bolder;
                        a:hover {
                            background-color: transparent;
                        }
                        a.active {
                            text-decoration: none;
                        }
                        ul {
                            font-weight: normal;
                        }
                    }
                    &.active-trail {
                        background-color: lighten($secondary-color, 30%);
                        border-radius: 3px;
                    }
                    a {
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}

body.responsive-layout-mobile {
    .region-sidebar-first, .region-sidebar-second {
        width: 100%;
        .region-inner {
            border-width: 0;
        }
    }
}