/**
 * _superfish.scss
 * This covers styles for superfish drop down menus that are 
 * applicable across every display resolution.
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
@import "../mixins";

@mixin shaded {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

$superfish-border-radius: 1em 0 0 0;

body {
    .superfish-top-nav, .block-superfish {
        .content {
            background-color: $superfish-background-color;
            border-radius: $superfish-border-radius;
        }
        .sf-menu {
            margin: 0;
            padding: 0;
            list-style: none;
            & * {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            a {
                display: block;
                position: relative;
                background-color: $superfish-background-color;
                color: $superfish-link-color;
                padding: .75em 1em;
                text-decoration: none;
                zoom: 1;
                &.menuparent:after {
                    content: '\00a0\bb';
                }
                &.active {
                    font-weight: bold;
                    background-color: $superfish-link-active-background-color;
                    color: $superfish-link-active-color;
                }
                .sf-sub-indicator {
                    display: none;
                }
            }
            li {
                &:hover, &.sfHover {
                    > a {
                        @include shaded;
                        background-color: $superfish-link-background-hover-color;
                        color: $superfish-link-hover-color;
                    }
                }
                position: relative;
                //white-space: nowrap;
                &.active-trail.menuparent {
                    > a {
                        background-color: $superfish-link-active-background-color;
                        color: $superfish-link-active-color;
                    }
                }
            }
            > li {
                float: left;
                &.first {
                    border-radius: $superfish-border-radius;
                    background-color: transparent;
                    > a {
                        border-radius: $superfish-border-radius;
                    }
                }
                &:hover, &.sfHover {
                    > a {
                        z-index: 100;
                        &.active {
                            font-weight: bold;
                            background-color: $superfish-link-active-background-color;
                            color: $superfish-link-active-color;
                        }
                    }
                    & > ul {
                        display: block;
                    }
                }
            }
            ul {
                position: absolute;
                display: none;
                top: 100%;
                left: 0;
                z-index: 99;
                min-width: 12em;
                @include shaded;
                li {
                    border-top: 1px solid $superfish-link-hover-color;
                }
                ul {
                    top: 0;
                    left: 100%;
                }
            }
        }
        .sf-arrows {
            & > li, & > li:hover, & > .sfHover {
                & > .sf-with-ul:focus:after {
                    border-top-color: $superfish-link-hover-color;
                }
            }
            ul {
                .sf-with-ul:after {
                    margin-top: -5px;
                    margin-right: -3px;
                    border-color: transparent;
                    border-left-color: #dFeEFF;
                    /* edit this to suit design (no rgba in IE8) */
                    border-left-color: rgba(255, 255, 255, 0.5);
                }
                li, li:hover, .sfHover {
                    > .sf-with-ul:focus:after, .sf-with-ul:after {
                        border-left-color: white;
                    }
                }
            }
            .sf-with-ul {
                padding-right: 2.5em;
                *padding-right: 1em;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 1em;
                    margin-top: -3px;
                    height: 0;
                    width: 0;
                    /* order of following 3 rules important for fallbacks to work */
                    border: 5px solid transparent;
                    border-top-color: #dFeEFF;
                    /* edit this to suit design (no rgba in IE8) */
                    border-top-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}

/*

body {
    .superfish-top-nav, .block-superfish {
        background-color: $superfish-background-color;
        border-radius: 1em 0 0 0;
        z-index: 5;
        a, p, ul, ol, li, img, span, strong, em, div {
            font-size: $base-font-size * 0.8;
        }
        .content {
            margin: 0;
            padding: 0;
        }
        //custom design
        .sf-menu {
            ul{
                position:absolute;
                top:100%;
                left: 0;
                z-index:99;
            }
            li {

                text-align: center;
                a, span {
                    background-color: transparent;
                    color: $superfish-link-color;
                    text-decoration: none;
                    padding: .5em 2em .5em .5em;
                    & > .sf-sub-indicator {
                        display: block;
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid $superfish-link-color;
                        padding: 0;
                        background-image: none;
                    }
                    &:hover {
                        background-color: $superfish-link-background-hover-color;
                        color: $superfish-link-hover-color;
                    }
                }
                .first {
                    a {
                        border-radius: 1em 0 0 0;
                    }
                }
                &.sfHover, &:hover {
                    @include shaded;
                    & > ul {
                        background-color: $superfish-background-color;
                        top: 0;
                        right: 1px;
                        li.first{
                            a{
                                border-radius: 0;
                            }
                        }
                    }
                }
                &.active-trail {
                    a {
                        &.menuparent, &.active {
                            background-color: $superfish-link-active-background-color;
                            color: $superfish-link-active-color;
                        }
                        &.menuparent {
                            border-width: 1px 1px 0 1px;
                        }
                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
*/
body.responsive-layout-mobile {
    .superfish-top-nav, .block-superfish {
        .sf-accordion-toggle {
            a {
                background-color: $superfish-background-color;
                background-image: url("/sites/all/themes/nnlm/img/menu_icon.png");
                margin-right: 1.5em;
                //Technique:
                //http://pauginer.tumblr.com/post/36614680636/invisible-gradient-technique
                //fallback image
                background-image: url("/sites/all/themes/nnlm/img/menu_icon.png");
                background-repeat: no-repeat;
                background-position: center center;
                //svg version (new hotness)
                background-image: linear-gradient(transparent, transparent), url(/sites/all/themes/nnlm/img/menu_icon.svg);
                span {
                    //hide the text, so the image comes forth.
                    display: none;
                }
            }
        }
        .sf-accordion {
            min-height: 30px;
        }
        select {
            background-color: $superfish-background-color;
            color: $superfish-link-color;
            border: 0;
        }
        padding: 5px;
        background-color: $superfish-background-color;
        border-width: 1px;
        .sf-menu.sf-style-default {
            border: 0;
        }
    }
    &.logged-in .superfish-top-nav, .block-superfish {
        //top: 39px;
   
    }
}