/* ------------------
 styling for the tables 
   ------------------   */
$table-border-color: #ccc;

.table-minimal, .table-basic-grid, .table-spaces-only {
    background: #fff;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    caption {
        padding: .5em;
    }
    th {
        font-weight: bold;
        padding: 10px 8px;
        border-bottom: 1px solid $table-border-color;
    }
    td {
        padding: 9px 8px 0px 8px;
    }
}

.table-spaces-only {
    th, td {
        border: 0;
    }
}

.table-basic-grid {
    border: 1px solid $table-border-color;
    th, td {
        border: 1px solid $table-border-color;
    }
}

.table-minimal {
    th {
        padding: 8px 2px;
        border-bottom: 1px solid $table-border-color;
        border-right: 30px solid  white;
        border-left: 30px solid  white;
    }
    td {
        padding: 12px 2px 0px 2px;
        border-right: 30px solid white;
        border-left: 30px solid white;
    }
}