@import "mixins";
/**
 * _views_slideshow.scss
 * This covers styles for output by the views_slideshow module that are
 * applicable across every display resolution.
 *
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after
 * base variables for it are set.
 */

$slide_background_color: white !default;
$views-slideshow-gradient-start: $primary-color !default;
$picture_frame: "frame" !default;

body {
    #zone-content .region-content ul.flexslider-views-slideshow-main-frame {
        //override of national
        margin: 0;
    }
    .block-views {
        width: 100%;
        .block-title {
            display: none;
        }
    }
    .flex-container, .flexslider {
        a:active, a:focus {
            outline: none;
        }
    }
    .slides,
    .flex-control-nav,
    .flex-direction-nav {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .views-slideshow-controls-bottom {
        text-align: right;
    }
    .flex-container {
        min-width: 360px;
        max-width: 960px;
        margin: 0 auto;
        .flexslider {
            background-color: $slide_background_color;
            border-radius: 3px;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
            margin: 0 0 40px 0;
            position: relative;
            border-width: 0;
            zoom: 1;
            a {
                img {
                    outline: none;
                    border: 0;
                }
            }
            .node {
                background-color: transparent;
            }
            .flex-prev, .flex-next {
                padding-bottom: 2em;
                text-decoration: none;
            }
            .slides {
                zoom: 1;
                img, figure {
                    width: 100%;
                    display: block;
                    border-radius: 2px;
                }
                & > li {
                    display: none;
                    -webkit-backface-visibility: hidden;
                }
                &:after {
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
                .content {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    align-items: center;
                }
                .field-name-title, .node-title {
                    background-color: rgba($views-slideshow-gradient-start, 1);
                    border-radius: 5px 5px 0 0;
                    box-sizing: border-box;
                    font-size: $h4-font-size;
                    padding: .25em;
                    margin: 0 auto;
                    text-align: center;
                    color: white;
                    a {
                        color: white;
                    }
                }
                /*
                .field-name-body{
                    display: block;
                    float: left;
                }
                .field-name-field-slide-image {
                    display: block;
                    float:left;
                    vertical-align: middle;
                    margin: 1em;
                }
                 */
                .field-name-field-slide-image {
                    //display: inline-block;
                    margin: 1em;
                    //text-align: center;
                    //vertical-align: middle;
                    figure {
                        //box-sizing: border-box;
                        margin: 0;
                        padding: 0;
                        img {
                            width: auto;
                            height: auto;
                            min-width: 100px;
                            min-height: 100px;
                            max-width: 360px;
                            max-height: 360px;
                            margin: 0 auto;
                        }
                    }
                }
                .field-name-body {
                    min-width: 300px;
                    max-width: 350px;
                    margin: 1em auto;
                }
                .field-name-field-more {
                    @include material_button;
                    display: block;
                    width: 100%;
                    margin: .5em;
                    clear: left;
                    font-size: larger;
                    a, span {
                        font-size: $h4-font-size;
                        font-size: 0.9em;
                        color: #343434;
                        border-color: #666;
                    }
                }
                .field-name-field-slide-image-link {
                    display: none;
                }
            }
        }
    }
    .views-slideshow-controls-bottom {
        .views-slideshow-pager-field-item {
            figure, img {
                width: 50px;
            }
            box-sizing: border-box;
            display: inline-block;
        }
    }
    /*
    .view-slideshow {
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        /* the standard */
    /* z-index: 50000;
    */
        /*padding: 5px;
        border: 1px solid $views-slideshow-gradient-start;
        margin: 1em auto 3em auto;
        border-radius: 5px;

        .flexslider_views_slideshow_main {
            background-color: $views-slideshow-gradient-start;
            //for IE 9
            background: linear-gradient($views-slideshow-gradient-start, $views-slideshow-gradient-end);
            border-radius: 10px;
            color: white;
            a, span {
                color: white;
            }
            .node {
                background-color: transparent;
                width: 97%;
                vertical-align: middle;
            }
            .flexslider-views-slideshow-main-frame {
                list-style-type: none;
                margin: 0 !important;
                .flexslider-views-slideshow-main-frame-row {
                    box-sizing: border-box;
                    margin: 0 auto;
                    .views-field-field-slide-image {
                        position: absolute;
                    }
                    .views-field-title {
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        box-sizing: border-box;
                        font-size: $h2-font-size;
                        margin-bottom: .5em;
                        padding: .25em;
                        text-align: center;
                    }
                    .views-field-body {
                        box-sizing: border-box;
                        margin: .5em 0;
                        text-align: left;
                    }
                    .views-field-field-more {
                        @include material_button;
                        min-width: 100px;
                        min-height: 50px;
                        margin-top: .5em;
                        a, span {
                            font-size: $h4-font-size;
                            font-size: 0.9em;
                            color: #646464;
                        }
                    }
                }
            }
        }
        */
 /*
header {
    text-align: center;
    .node-title {
        font-size: $h4-font-size;
        font-family: $base-font-family;
        letter-spacing: .5px;
        a {
            text-decoration: none;
        }
    }
}
.views-row {
    box-sizing: border-box;
    margin: 0 auto;
    .views-field-title {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        box-sizing: border-box;
        font-size: $h2-font-size;
        margin-bottom: .5em;
        padding: .25em;
        text-align: center;
    }
    .views-field-body {
        box-sizing: border-box;
        margin: .5em 0;
        text-align: left;
    }
    .views-field-field-more {
        @include material_button;
        min-width: 100px;
        min-height: 50px;
        margin-top: .5em;
        a, span {
            font-size: $h4-font-size;
            font-size: 0.9em;
            color: #646464;
        }
    }
}
.views-slideshow-controls-bottom {
    z-index: 10;
    background-color: white;
}*/
    //}
}

body.responsive-layout-mobile {
    .flex-container {
        .flexslider {
            .slides {
                .field-name-field-slide-image {
                    //display: inline-block;

                }
            }
        }
    }
}

/*
body.responsive-layout-narrow, body.responsive-layout-normal,
body.responsive-layout-wide {
    .flex-container {
        .flexslider {
            .slides {}
        }
    }
} */