/**
 * This file contains regional overrides for the base variables
 * established in _base.scss
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
//Regional Overrides
@import "../base";
$primary-color: #986699;
//$primcry-color-hsla: hsla(218, 46%, 38%, 1);
$secondary-color: #F3ECC2;
//$secondary-color-hsla: hsla(53, 60%, 85%, 1);
$tertiary-color: #BED2DD;
//$tertiary-color-hsla: rgb(161, 185, 237);
$editorial-section-color: black;

//Superfish variables
$superfish-link-color: white;
$superfish-background-color: $primary-color;
$superfish-link-hover-color: black;
$superfish-link-background-hover-color: #F3ECC2;
$superfish-link-active-color: $superfish-link-hover-color;
$superfish-link-active-background-color: $superfish-link-background-hover-color;

//views-slideshow variables
$views-slideshow-gradient-start: $primary-color;
$views-slideshow-gradient-end: darken($primary-color, 30%);
$slide_background_color: #fff9ff;