/**
 * This file contains regional overrides for the base variables
 * established in _base.scss
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
//Regional Overrides
@import "../base";
$primary-color: #04864E;
$secondary-color: #E6E6E6;
$tertiary-color: #0057A7;

//Superfish variables
$superfish-link-color: white;
$superfish-background-color: $primary-color;
$superfish-link-hover-color: black;
$superfish-link-background-hover-color: lighten($primary-color, 30%);
$superfish-link-active-color: $superfish-link-hover-color;
$superfish-link-active-background-color: $superfish-link-background-hover-color;

//views-slideshow variables
$views-slideshow-gradient-start: $primary-color;
$views-slideshow-gradient-end: darken($primary-color, 30%);