/**
 * _commerce.scss
 * This covers styles for commerce items that are 
 * applicable when the display resolution is "narrow".
 * (The exact meaning of that term is defined by the theme, and is 
 * subject to change).
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/*body.responsive-layout-narrow{
  .view-nlm-promotional-materials{
    .views-row{
      display: table-row;
    }

    .views-field{
      display: table-cell;
      padding: 1em;
      vertical-align: top;
    }
    .form-item{
      margin-top: 0;
    }
  }
}
*/