/**
 * _content.scss
 * This covers styles for items in the main content area, and is
 * applicable when the display resolution is "narrow".
 * (The exact meaning of that term is defined by the theme, and is 
 * subject to change).
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */

/*body.responsive-layout-narrow {
    #zone-content {
        .messages {
            margin-left: 15px;
        }
        background-color: transparent;
        .region-content {
            img {
                max-width: 640px;
            }
        }
        .region-sidebar-first + .region-content,
        .region-sidebar-second + .region_content {
            //only applies to pages that have a sidebar
            .node img {
                max-width: 480px;
            }
        }
    }
}*/