/**
 * _editing_interfaces.scss
 * This covers styles for the administrative editing interface that are 
 * applicable when the display resolution is "narrow".
 * (The exact meaning of that term is defined by the theme, and is 
 * subject to change).
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/*body.responsive-layout-narrow{
  #block-system-help{
    .content{
      background-color: yellow;
      padding: 1em;
      border: 1px solid orange;
      border-radius: 2px;
    }
    h3{
      display: none;
    }
  }
}
*/