/**
 * _branding.scss
 * This covers styles for the branding region that are 
 * applicable when the display resolution is "normal".
 * (The exact meaning of that term is defined by the theme, and is 
 * subject to change)..
 * 
 * This file is a sass partial, and is not compiled directly, but
 * rather included in the compilation of another sass file after 
 * base variables for it are set.
 */
/*body {
    &.responsive-layout-normal {
        #banner {
            .site-name-logotype {
                vertical-align: top;
                width: 50%;
                max-width: 400px;
            }
            .site-name-editorial-section {
                width: 45%;
                float: right;
                p {
                    font-size: $h1-font-size;
                }
            }
            #___gcse_0 {
                .gsc-control-cse {
                    min-width: 300px;
                    margin: .5em;
                }
            }
        }
    }
}*/